html {
    font-family: sans-serif;

}

header {
    background-color: blue;
    padding: 25px 0;
}

footer {
    background-color: blue;
    padding: 25px 0;
    color: white;
    text-align: center;
}

header div {
    text-align: center;
    color: white;
}

img {
    width: 125px;
    height: 125px;
}

main section {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.imagenes-contenedor {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    transition: transform 300ms ease-out;

}

.imagenes-contenedor:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
}

.img-contenedor-seleccionado {
    border: 3px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 5px;
}

.columna-puntuacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 15px;

}

.disable-button {
    display: none;
}

#puntuacion {
    display: flex;
    justify-content: space-between;
}